.flag-image{
    max-width: 340px;
}
.flag-image-container{
    border: 1px solid #ccc;
    box-shadow: 0px 5px 15px #ccc;
}

.question-form input{
    font-size: 16px;
    margin-top: 8px;
}
.question-form input[type = 'submit'], input[type = 'button']{
    width: 100%;
    text-align: center;
}
.alert{
    display: none;
}

.btn-success{
    display: none;
}
